[submodule "mesa"]
	path = mesa
	url = https://anongit.freedesktop.org/git/mesa/mesa.git
[submodule "llvm/src"]
	path = llvm/src
	url = http://llvm.org/git/llvm.git
[submodule "dxtn/src"]
	path = dxtn/src
	url = https://cgit.freedesktop.org/~mareko/libtxc_dxtn/
